<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title class="" slot="end">
        <img alt="logo" height="40"   src="../../assets/img/logo.png" > 
      </ion-title >
      <ion-title slot="end">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Politicas de Privacidad</ion-card-subtitle>
      <ion-card-title>World Transfer Money</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-text>
      Tratamiento de Datos Personales NEQUI
Nequi como producto BANCOLOMBIA es responsable del tratamiento de datos personales de
sus clientes, usuarios, colaboradores, proveedores, aliados y en general sus grupos de interés y
vela por la seguridad y calidad en el tratamiento de la información, y el cumplimiento del artículo
15 de la Constitución Política de Colombia, la normativa vigente referente a la protección de datos
personales, y en especial lo establecido en la , Ley 1266 de 2008, Decreto 1377 de 2013 Ley 1581
de 2012, y las demás disposiciones que la modifiquen, adicionen o complementen.
Por lo anterior se tendrán en cuenta las siguientes definiciones para efectos del presente
documento:
• Autorización: es el consentimiento previo, expreso e informado del titular de la
información para llevar a cabo el tratamiento de datos personales.
• Aviso de privacidad: es la comunicación verbal o escrita que tiene como fin el informar
al titular de los datos sobre la política de protección de datos de BANCOLOMBIA S.A.
• Base de Datos: conjunto organizado de datos personales objeto de tratamiento.
• Causahabiente: es la persona que ha sucedido a otra, en razón a su fallecimiento
(también se pueden entender como herederos o legatarios).
• Dato Personal: cualquier información vinculada o que pueda asociarse a una o varias
personas naturales determinadas o determinables.
• Dato Público: dato que la ley o la Constitución determina como tal, así como todos
aquellos que no sean semiprivados o privados.
• Dato Privado: es aquel dato que por su naturaleza íntima o reservada sólo es relevante
para el titular de la información.
• Dato Semiprivado: es aquel dato que no tiene naturaleza íntima, reservada, ni pública y
cuyo conocimiento o divulgación puede interesar no sólo a su titular sino a cierto sector o
grupo de personas.
• Dato Sensible: es el dato que afecta la intimidad del titular o cuyo uso indebido puede
generar su discriminación.
• Encargado del Tratamiento: persona natural o jurídica, pública o privada, que por sí
misma o en asocio con otros, realiza el tratamiento de datos personales por cuenta del
responsable del tratamiento.
• Responsable del Tratamiento: persona natural o jurídica, pública o privada, que por sí
misma o en asocio con otros, realiza el tratamiento de datos personales.
• Titular: persona natural cuyos datos personales son objeto de tratamiento. Para NEQUI
serán titulares de la información los clientes, usuarios, colaboradores, proveedores,
aliados, accionistas, visitantes, nuestros grupos de interés y cualquier otra persona natural
cuyos datos sean objeto de tratamiento por BANCOLOMBIA S.A., ya sea directa o
indirectamente.
• Transferencia de datos: tiene lugar cuando el responsable y/o encargado del
tratamiento de datos personales, ubicado en Colombia, envía la información o los datos
personales a un receptor, que a su vez es responsable del tratamiento y se encuentra
dentro o fuera del país.
• Transmisión de Datos: tratamiento de datos personales que implica la comunicación de
los mismos dentro o fuera del territorio de la República de Colombia, con el objeto de
que un encargado realice tratamiento por cuenta del responsable.
• Tratamiento: cualquier operación o conjunto de operaciones sobre datos personales,
tales como la recolección, almacenamiento, uso, circulación o supresión.
NEQUI se compromete con los titulares de la información a tratar sus datos personales, de
conformidad con los siguientes principios:
• Principio de legalidad en materia de tratamiento de datos: NEQUI es consciente de
que el tratamiento al que se refiere la Ley 1581 de 2012 es una actividad reglada, que
debe sujetarse a lo establecido en ella y en las demás disposiciones que la desarrollen.
• Principio de finalidad: NEQUI tratará los datos con una finalidad legítima, de acuerdo
con la Constitución y la ley, la cual será informada al titular.
• Principio de libertad: NEQUI tratará los datos sólo con el consentimiento, previo,
expreso e informado del titular. Los datos personales no podrán ser obtenidos o
divulgados sin autorización previa o en ausencia de mandato legal o judicial.
• Principio de veracidad o calidad: la información que sea objeto de tratamiento debe ser
veraz, completa, actualizada, comprobable y comprensible. En NEQUI está prohibido el
tratamiento de datos fraccionados o que induzcan a error.
• Principio de transparencia: NEQUI conoce que los titulares de la información tienen
derecho a obtener en cualquier momento y sin restricciones, información acerca de la
existencia de los datos que le conciernan.
• Principio de acceso y circulación restringida: el tratamiento está sujeto a los límites
derivados de la naturaleza de los datos personales, de acuerdo con lo dispuesto en la Ley
1581 de 2012 y la Constitución. En este sentido, el tratamiento sólo podrá hacerse por
personas autorizadas por el titular y/o por las personas previstas en la ley. Con excepción
de la información pública, NEQUI no pondrá a disposición los datos personales en Internet
u otros medios de divulgación o comunicación masiva, salvo si el acceso es técnicamente
controlable para brindar un conocimiento restringido sólo a los titulares o terceros
autorizados conforme a la Ley 1581 de 2012.
• Principio de seguridad: NEQUI manejará la información sujeta a tratamiento a que se
refiere la Ley 1581 de 2012 con las medidas técnicas, humanas y administrativas que sean
necesarias para otorgar seguridad a los registros, evitando su adulteración, pérdida,
consulta, uso o acceso no autorizado o fraudulento.
• Principio de confidencialidad: todas las personas que intervengan en el tratamiento de
datos personales que no tengan la naturaleza de públicos están obligadas a garantizar la
reserva de la información, inclusive después de finalizada su relación con alguna de las
labores que comprende el tratamiento, pudiendo sólo realizar suministro o comunicación
de datos personales cuando ello corresponda al desarrollo de las actividades autorizadas
en la Ley 1581 de 2012 y en los términos de esta
    </ion-text>
  </ion-card-content>
  </ion-card>
</ion-content>
