ion-content.background{
    --ion-background-color:#42ab49;
}
ion-icon {
    color: white;
}
ion-text ion-icon {
    --ionicon-stroke-width: 124px;
    width: 24rem;
    height: 8rem;
  }
  ion-item .custom-options{
    color: white;
  }