<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title class="" slot="end">
        <img alt="logo" height="40"   src="../../assets/img/logo.png" > 
      </ion-title >
      <ion-title slot="end">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Terminos y Condiciones</ion-card-subtitle>
      <ion-card-title>World Transfer Money</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <ion-text>TÉRMINOS Y CONDICIONES
    1. APERTURA Y MANEJO DE LA CUENTA
    1.1 Para abrir tu Cuenta Nequi debes ser una persona natural, residente en
    Colombia y con capacidad legal para celebrar contratos válidos.
    1.2 Cuando abras tu Cuenta Nequi a través del registro en la App Nequi, esta
    será una cuenta de ahorro de trámite simplificado. Podrás identificarla con el
    número de cuenta que te brindaremos y por medio de otras opciones, las
    cuales podrás encontrar en la App.
    1.3 Como titular de la Cuenta Nequi, no podrás tener otra cuenta de ahorros
    de trámite simplificado en la misma entidad que ofrece la Cuenta Nequi.
    1.4 Tú serás el único titular de la Cuenta Nequi, esta cuenta no podrá tener
    otras personas autorizadas para su manejo y administración.
    1.5 Para manejar la Cuenta Nequi usarás tu teléfono celular desde el cual has
    realizado el proceso para abrirla. Nequi podría permitirte el uso de otros
    instrumentos tales como tarjeta personal para que manejes tu cuenta.
    1.6 No te exigiremos un depósito inicial para la apertura de la Cuenta Nequi,
    tampoco un saldo mínimo para mantenerla activa.
    1.7 Mientras la Cuenta Nequi sea una cuenta de ahorro de trámite
    simplificado, estará sujeta a las siguientes condiciones:
    • El saldo total que puedes mantener en tu cuenta no podrá superar en
    ningún momento los 7.9 salarios mínimos mensuales legales vigentes
    (SMMLV). Si tu cuenta llega a recibir un depósito que implique que el saldo
    supere este límite, tendremos que rechazar ese depósito.
    • Mensualmente sólo podrás hacer débitos hasta por un equivalente a 2.9
    SMMLV. Por tanto, una vez llegues a este límite, te bloquearemos las
    operaciones débito habilitándolas de nuevo en el mes siguiente. Si realizas
    un débito que supere el acumulado mensual tendremos que rechazar esa
    operación débito permitiéndote hacer sólo aquellas cuyo valor sumado al de
    los otros retiros del mes, no supere el valor antes referido.
    • Estará exenta del Gravamen a los Movimientos Financieros GMF hasta el
    tope de 65 unidades de valor tributario –UVT- por mes y siempre que al
    momento de abrirla no tengas otra cuenta de ahorros de trámite simplificado
    o cuenta de ahorro electrónica o depósito electrónico, marcado como exento
    del GMF por 65 UVT en Nequi.
    • A la Cuenta Nequi no podrás consignarle cheques de ninguna entidad
    financiera
    1.8 En la App Nequi podrás consultar siempre que lo requieras, los
    movimientos crédito y débito, así como el comprobante de cada una de las
    operaciones que hagas con tu cuenta.
    1.9 El extracto de la Cuenta Nequi lo podrás solicitar mensualmente a través
    de la App Nequi y te lo enviaremos al correo electrónico que hayas
    registrado previamente para este fin, si así lo solicitas.
    1.10 Si tu Cuenta Nequi no presenta movimientos por más de 180 días, esta
    se desactivará y será necesario que realices un movimiento de crédito o
    débito para que se vuelva a activar.
    1.11 Para manejar tu Cuenta Nequi harás uso de un mecanismo de
    seguridad que asignarás en el momento en que abras la cuenta y el cual será
    la firma electrónica que te identificará en todas las operaciones que realices
    con la cuenta. Por lo tanto, eres el responsable por el manejo y la custodia
    del mismo. Cuando así lo consideremos necesario, podremos llegar a
    exigirte el cumplimiento de seguridades adicionales. Para que conozcas las
    recomendaciones de seguridad que debes tener con tu Cuenta Nequi, te
    recomendamos ingresar a www.nequi.co
    1.12 Cuando hagas un cambio de número del teléfono móvil o celular,
    deberás informarnos del cambio por medio de la App Nequi, porque
    mientras no lo hagas, todas las operaciones que se hagan desde o hacia la
    Cuenta Nequi serán tu responsabilidad.
    1.13 Todas las operaciones y transacciones que hemos habilitado para que
    realices con tu Cuenta Nequi las podrás consultar en www.nequi.co donde
    también te informaremos de los mecanismos que hemos habilitado para la
    realización de cada operación, de acuerdo al canal utilizado.
    1.14 Tu Cuenta Nequi está amparada por el seguro de depósitos del fondo
    de Garantía de Instituciones Financieras –FOGAFIN-.
    1.15 Cuando Nequi modifique las condiciones de este contrato, te
    estaremos informando sobre las mismas en www.nequi.co anunciándote
    también el momento a partir del cual estas modificaciones serán aplicables.
    Si no estás de acuerdo con las mismas, nos puedes informar en cualquier
    momento tu deseo de no continuar con la cuenta.
    2. TARIFAS Y REMUNERACIÓN DE LA CUENTA:
    Las tarifas que te podremos cobrar por el manejo de la Cuenta Nequi, por
    cada uno de los servicios, y/o transacciones ofrecidas a través de la misma, y
    por el uso de los canales te las informaremos previamente en www.nequi.co
    e igualmente los podrás consultar en la App Nequi. Cuando vayas a realizar
    la operación, también te informaremos el valor de la misma, si lo hay.
    3. CANCEL ACIÓN DE LA CUENTA
    Cuando decidas cancelar tu Cuenta Nequi, podrás realizarlo por al App
    Nequi. Si en ese momento el saldo de tu cuenta supera tres (3) salarios
    mínimos mensuales legales vigentes, te solicitaremos unos datos adicionales
    para la cancelación de tu cuenta.</ion-text>
  </ion-card-content>
</ion-card>
</ion-content>
