.recarga ion-icon { 
    color: #fdfd96;;
}
.entrada ion-icon { 
    color: #77dd77;
}
.salida ion-icon {
    color: #ff6961;
}
ion-card-header{
    --background: #379d30;
    --color: white;
    border-radius: 1rem 1rem 0 0;
}
ion-card{
    margin: 14px;
    border-radius: 1rem 1rem 0 0;
}